h1 {
    margin-bottom: 60px;
}

.texts {
    width: 80%;
    margin-bottom: 30px;
    margin-left: 10%;
    font-family: 'Trebuchet MS';
    color: #604D9E;
}

.story {
    display: flex;
    text-align: center;
    width: 80%;
    height: 300px;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    justify-content : center;
    font-family: 'Trebuchet MS';
    color: #604D9E;
}

.story p {
    margin-left: 7%;
    margin-right: 7%;
}

.hard {
    height: 300px;
}

.twice {
    display: grid;
    grid-template-areas:
    "A A A A   C C C C"
    "B B B B   C C C C";
    text-align: center;
    width: 80%;
    height: 300px;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    justify-content : center;
    font-family: 'Trebuchet MS';
    color: #604D9E;
}

.first {
    grid-area: A;
}    

.second {
    grid-area: B;
    justify-self: center;
}

.third {
    grid-area: C;
    justify-self: center;
}

.join_us {
    margin-top: 150px;
    color: #1E0039;
    font-family: 'Verdana';
    font-weight: bolder;
}

footer p {
    color: white;
}